*{
    margin: 0px;
    padding: 0px;
}

.headin{
    height: 6rem;
    color: white;  
    background-color: rgb(147, 56, 132);
    font-weight: bold;
    width: 100%;

}
h1,h2,.para{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.6rem;
}
.whole{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    /* background-color: blue; */
    margin-top: 2rem;
}
.form1,.form2{
    width: 50%;
    margin-bottom: 3px;
    height: 100%;
    /* background-color: aqua; */
    padding-left: 10rem;
    
}
.form2{
    padding-left: -10rem;
}

input{
    width: 70%;
    height: 30px;
}
.lab{
    padding-bottom: 5rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.form-in{
    width: 70%;
    height: 80%;
    background-color: rgb(200, 220, 71);
    border: solid 2px rgb(142, 103, 32);
    padding-left: 20%;
    padding-top: 15%;
    border-radius: 5%;
}
.form-in:hover,.result:hover{
    border: solid 4px rgb(151, 20, 171);

}
input{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}
#submit,.remove{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: white;
    border:solid black 2px;
    border-radius: 0.5rem;
    background-color: rgb(149, 0, 255);
    margin-left: 17%;
}

/* right part */
.result{
    width: 70%;
    height: 75%;
    background-color: rgb(214, 191, 157);
    border: solid 2px rgb(142, 103, 32);
    border-radius: 5%;
    padding-left: 5%;
    margin-right: -10rem;
    margin-bottom: 2rem;

}

img{
    padding: 2%;
    height: 40%;
    width:80%;
    object-fit: contain;
    background-color: rgb(200, 216, 211);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.remove{
    margin-top: 4%;
    margin-left: 35%;
}

.headd{
    margin-left: -30%;
    margin-bottom: 3%;
    margin-top: -3%;
}

