*{
    margin: 0px;
    padding: 0px;
}

.nav{
    background-color: #598dc5;
    height: 4rem;
    color: white;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /*  */
    position: fixed;

}


.logo,.log-in{
    height: 2.7rem;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem ;
    color: black;
    background-color: white;
    margin: 1.5rem;
    border-radius: 2rem;

}
.log-in{
    border: none;
    background-color: white;
}
.logo:hover,.log-in:hover{
    border: 5px solid white;
    background-color: rgb(8, 40, 63);
    color: white;
}

.logo p{
    padding: 0.6rem;
    
}

.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    width:80%;

}
.navv{
    margin-right: 2rem;
    font-size: 1.8rem;
    font-weight: 900;
    color: aliceblue;
    text-decoration: none;
}
.navv:hover{
    color: rgb(39, 39, 109);
}

.loginpage{
    display:none;
    position:absolute;
    background-color: white;
    width: 26rem;
    height: 15rem;
    margin-left: 74%;
    margin-top: 5rem;
    border: #abbfd3 solid;

}
.loginpage form{
    display: grid;
    gap: 2rem;
    /* width: 50%; */
    margin-left: 4rem;
    padding-top: 2rem;
}
.loginpage .form{
    height: 1.6rem;
    border: solid rgb(8, 8, 44) 0.17rem;
}
.loginpage #submit1{
    height: 1.8rem;
    width: 25%;
    margin-left: 5rem;
    background-color: #598dc5;
    color: azure;
    font-weight: bold;
}
/* home */
.half,#home-img{
    margin-top: 6rem;
}
.home{
    height: 47rem;
    background-color: rgb(189, 196, 208);
    display: flex;
    align-items: center;

}
.half{
    width: 50%;
}
#home-h1{
    margin-top: -200px;
    margin-left: 5rem;
    font: 200px;
    font-weight: 5rem;
}

#home-h3{
    margin-left: 5rem;
    margin-top: 10px;
    font: 200px;
    font-weight: 7rem;
    font-size: 1.4rem;
    color: red;
    font-style: italic;

}
.half p{
    margin-left: 5rem;
    margin-top: 20px;
    font: 100px;
    font-weight: 2rem;
    font-size: 1.1rem;
    color: black;
}
#nav-login{
    margin-left: 5rem;
    margin-top: 30px;
    font: 100px;
    font-weight: 2rem;
    font-size: 1.1rem;
    color: black;
    background-color: rgb(68, 0, 255);
    color:white;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    /* padding: 1.1rem; */
    border-radius: 2rem;

}

#home-img{
    margin-left: 20rem;
}

/* cloths */

#c-head{
    color: rgb(9, 56, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.5rem;
    font-weight: bold;
    font-size: 2.5rem;
    
}
.dresses{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 500px;
}

.dress1{
    height: 480px;
    width: 400px;
    background-color: rgb(150, 199, 206);
    border: 2px solid black;
    border-radius: 2rem;
    
}
.dress1:hover{
    background-color: rgb(40, 113, 150);
}

.dress-img{
    height: 300px;
    width: 350px;
    background-size: cover;
    margin: 1.4rem;
    object-fit: contain;
}
.span{
    color:rgb(33, 168, 217);
    margin-left: 1rem;
}
.cloth-desc{
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
#price{
    font-size: 1.3rem;
    color: red;
}
.rate{
    margin-left: 1.5rem;

}
.fa-regular fa-star{
    font-size: 2rem;
    color: yellow;
}

/* Blogs */
.blog{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 600px;
    background-color: rgb(201, 210, 222);
    margin-left: 10rem;
    border-radius: 1.5rem;
    border: gray solid ;

}
.blog-img{
    height: 300px;
    width: 50%;
    background-size: cover;
    margin-top: 1.5rem;
    object-fit: contain;
    /* background-color: rgb(230, 239, 240); */
}
.blog1{
    background-color: white;
    width: 600px;
    height: 350px;
    /* border: gray solid ; */
    border-radius: 0.3rem;
}
.blog1:hover{

    border:rgb(50, 50, 84) solid ;
    border-radius: 0.4rem;
}

.blog-desc{
    width: 50%;
    margin-left: 17rem;
    margin-top: -16rem;
    font-size: 1.1rem;
}
.head{
    font-size: 1.4rem;
    font-weight: bold;
    font: 3.2rem;
    color: rgb(10, 2, 32);
    margin-bottom: 1.2rem;

}

/* review */
.review-box{
    background-color: rgb(239, 248, 250);
}
.review{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 700px;
    /* margin-left: 2rem; */
    /* border: gray solid ; */
    background-color: rgb(196, 202, 204);

}
.review1{
    background-color: white;
    margin-left: 2rem;
    margin-right: 1.9rem;
    height: 30rem;
    width: 25rem;
        /* border-radius:2rem; */
        border: solid  1px;

}
.items{
    padding: 2.2rem;
}
.review-img{
    height: 15rem;
    /* border-radius:; */
    /* background-color: rgb(230, 239, 240); */
}
.r-para{
    font-size: bold;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
    color: #1b106c;
    font-weight: medium;
}
/* contact */
.contact{
    background-color: rgb(201, 210, 222);
    height: 450px;
    width: 60rem;
    margin-left: 22rem;
    border: solid;
}
.contact:hover{
    border: #0c0a22 solid 4px;
}
.h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    color: rgb(0, 9, 128);
}

form{
    display: grid;
    gap: 2rem;
    width: 50%;
    margin-left: 15rem;
    padding-top: 2rem;
}
.form{
    height: 1.8rem;
    border: solid rgb(8, 8, 44) 0.17rem;
}
#submit{
    height: 1.8rem;
    width: 35%;
    margin-left: 11rem;
    background-color: #598dc5;
    color: azure;
    font-weight: bold;
}

/* footer */
.footer{
    margin-top: 5rem;
    background-color: #598dc5;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 300px;
    gap: 9rem;
    padding: 4rem;
    
}
.about-us{
    width: 24%;
}
.footer h2{
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}
.about-us p{
    font-size: 1.1rem;
    margin-top: 1rem;
    color: black;
    font-weight: bold;


}
.product a,.quality a,.address p{
    text-decoration: none;
    font-weight: bold;
    font: 1.6rem;
    color: rgba(9, 4, 37, 0.766);


}
.product ul,li,.quality ul,li{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    color: white;

}

.quality a{
    text-decoration: none;
    font-weight: bold;
    font: 2.6rem;

}

.copyright{
    background-color: rgb(201, 210, 222);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(14, 4, 44);
    font-style: italic ;

}